  @import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

  .App {
    width: 100vw;
    height: 100vh;

  }

  header {
    width: 100%;
    height: 15%;
    margin-top: 1%;
  }

  .scribble_title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
  }

  .scribble_letter {
    width: 10%;
    height: 90%;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kalam', sans-serif;
  }

  .scribble_letter:hover {
    transform: scale(1.15);
    z-index: 2;
    background: green;
  }

  body {
    display: flex;
    justify-content: center;
    height: calc(100% - 30%);
  }

  .note_area {
    position: relative;
    background: green;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: baseline;
    overflow-y: scroll;
  }

  .note_area .add_note_button {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    margin-top: 2%;
    margin-right: 2%;
    aspect-ratio: 1/1;
    font-size: 24px;

  }

  .note {
    background-color: #ffd60a;
    width: 23%;
    height: 23%;
    aspect-ratio: 1/1;
    margin: 1%;
  }

  .note_editor {
    display: flex;
    flex-direction: column;
    background-color: #ffd60a;
    opacity: .9;
    position: absolute;
    width: 55%;
    height: 90%;
    left: 50%;
    top: 50%;
    padding: 2%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
  }

  .note_title{ 
    height: 10%;
  }

  .note_details{ 
    height: 55%;
  }

  .editor_buttons{ 
    display: flex;
    width: 100%;
    justify-content: space-around;
  }